<div id="top_panel">
	<div id="save_button" class="wrapper"> <span class="block_tooltip">Zapisz <%= algorithm["content"] %></span></div>
	<div id="save_as_button" class="wrapper"> <span class="block_tooltip">Zapisz jako..</span></div>
	<div id="right_buttons">
		<a href="#"><div id="step_button" class="wrapper"><span class="block_tooltip">Krok po kroku</span></div></a>
		<a href="#"><div id="run_button" class="wrapper active"><span class="block_tooltip">Uruchom</span></div></a>
		<a href="#"><div id="pause_button" class="wrapper"><span class="block_tooltip">Pauza</span></div></a>
		<a href="#"><div id="run_fast_button" class="wrapper"><span class="block_tooltip">Przyspiesz</span></div></a>
		<a href="#"><div id="run_node_button" class="wrapper"><span class="block_tooltip">Uruchom w node.js</span></div></a>
	</div>
</div>

<div id="toolbox">
	<div class="toolbox_main"></div>
	<div class="toolbox_func"></div>
</div>

<div id="toolbox_navi">
	<div id="toolbox_buttons">
		<a href="#"><div id="prev_button"></div></a>
		<a href="#"><div id="next_button"></div></a>
	</div>
</div>

<div id="desktop" class="desktop droppables">
	<div id="app_table" class="content"></div>
</div>

<div id="show_log">Show log</div>

<div id="output"></div>
